# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/bootstrap
/fontawesome-free-5.0.6

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/src/pkgsDetailer
/src/custom

npm-debug.log*
yarn-debug.log*
yarn-error.log*
