body {
  background-color: white;
  font-size: 1.4rem;
}

.App-header {
  display: flex;
  background-color: #313531;
  padding: 0;
  color: #E1E1E2;
}

.App-header-Center {
  display: inline-flex;
  background-color: #313531;
  padding: 0;
  color: #E1E1E2;
  max-width: 1000px;
  width: 1000px;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
}

.Cart-Box {
  display: flex;
  background-color: #242524b7;
  width: 100px;
  justify-content: center;
  padding: 0em;
  align-items: center;
  height: 100%;
}

.Cart-Box:hover {
  background-color: #1f201f;
  cursor: pointer;
}

.Brackets {
  font-size: 4rem;
  margin: 0em 0em .1em;
  line-height: 1;
  color: #ffffff;
  font-weight: 100;
  font-family: 'ubuntu-mono', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Logo {
  font-family: "ff-enzo-web";
  font-size: 4rem;
  text-align: center;
  text-align-last: center;
  padding: 25px 5px 20px;
  color: white;
  text-decoration: none;
  overflow: visible;
  line-height: 1;
  letter-spacing: .15rem;
  font-weight: 500;
}

.Logo:hover {
  text-decoration: none;
  color: #E1E1E2;
  text-shadow: .2rem .2rem rgb(5, 0, 20);
}

.HeaderRight {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.username-dropdown {
  display: block;
  width: 180px;
}

.Sign {
  padding: 0px 35px;
  font-size: 2.4rem;
  text-decoration: none;
  color: white;
  font-weight: 200;
}

.Sign:hover {
  color: #4470ff;
  text-decoration: none;
}

.SignSmall {
  padding: 0px 15px;
  font-size: 2rem;
  text-decoration: none;
  color: white;
  font-weight: 100;
}

.SignSmall:hover {
  color: #4470ff;
  text-decoration: none;
}

.HeadLink {
  padding: 0.95rem;
  font-size: 1.8rem;
  text-decoration: none;
  color: #E1E1E2;
}

.HeadLink:hover {
  color: #C75058;
  text-decoration: none;
}

.Username {
  padding-right: 20px !important;
  color: #ffffff;
  font-size: 2.8rem !important;
  text-decoration: none;
  box-shadow: none;
  font-weight: 100;
}

.Username:hover {
  color: #4459ff;
  text-decoration: none;
  box-shadow: none;
}

.Cart-Box:hover .Brackets {
  color: #ffffff;
}

.Cart-Box:hover .Quantity {
  color: #91ac7c
}
